# Array Data Structures

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?

In [56]:
exp = [2200,2350,2600,2130,2190]
print("In feb how many dollars you spent extra compare to january:" ,exp[1]-exp[0]) #150

In feb how many dollars you spent extra compare to january: 150

2. Find out your total expense in first quarter (first three months) of the year.

In [57]:
print("Total expense in first three months of the year:" ,exp[0]+exp[1]+exp[2]) #7150

Total expense in first three months of the year: 7150

3. Find out if you spent exactly 2000 dollars in any month

In [60]:
print("If you spent exactly 2000 dollars in any month:", 2000 in exp) #No

If you spent exactly 2000 dollars in any month: False

4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [63]:
exp.append(1980)
print("June month is finished your expense is 1980 dollar add this item to monthly expense list:",exp) #[2200,2350,2600,2130,2190]

June month is finished your expense is 1980 dollar add this item to monthly expense list: [2200, 2350, 2600, 2130, 2190, 1980]

5. You returned an item that you bought in a month of April and got a refund of 200$. Make a correction to your monthly expense list based on this

In [65]:
print("You returned an item that you bought in a month of April and got refund of 200$:",exp[3]-200)

You returned an item that you bought in a month of April and got refund of 200$: 1930

You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list

In [77]:
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))

5

2. Add 'black panther' at the end of this list

In [81]:
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'

In [82]:
heros.remove('black panther')
heros.insert(3, 'black panther')
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.

In [90]:
heros=['spider man','thor','hulk','iron man','captain america']
#remove 'thor' and "hulk" in the list
heros.insert(1, 'doctor strange')
print(heros)

['spider man', 'doctor strange', 'thor', 'hulk', 'iron man', 'captain america']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [91]:
#heros list
heros =['spider man','thor','hulk','iron man','captain america']
#sort the heros
heros.sort()
#print heros
print('sorted:',heros)

sorted: ['captain america', 'hulk', 'iron man', 'spider man', 'thor']